@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

html {
  background-color: white;
  color: black;
}

html.dark {
  background-color: #08081e;
  color: white;
}
